body {
    background: rgb(240, 240, 240);
    padding: 0;
    margin: 0;
    transition: all 0.2s;
    font-family: sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(224, 224, 224);
    box-shadow: rgba(0, 0, 0, 0.04) 0 12px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.objectLeft {
    width: 100px;
    height: 300px;
    background-color: rgb(70, 70, 70);
    box-shadow: rgba(0, 0, 0, 0.15) 0 12px 30px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    position: absolute;
    left: 0;
    top: 200px;
    z-index: 1;
}

.objectRight {
    width: 100px;
    height: 300px;
    background-color: rgb(70, 70, 70);
    box-shadow: rgba(0, 0, 0, 0.15) 0 12px 30px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    position: absolute;
    right: 0;
    top: 300px;
    z-index: 1;
}

.objectMiddle {
    width: 350px;
    height: 350px;
    background-color: rgb(70, 70, 70);
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 30px;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.objectBottom {
    width: 200px;
    height: 100px;
    background-color: rgb(70, 70, 70);
    box-shadow: rgba(0, 0, 0, 0.15) 0 12px 30px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.containerTopper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 100;
}

.containerHeader {
    color: rgb(53, 134, 255);
    text-transform: uppercase;
    font-size: 42px;
}

.containerContent {
    color: white;
}

.content {
    height: 200vh;
    z-index: 100;
    position: relative;
    background: rgb(240, 240, 240);
}